* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1a1a2e;
    background: linear-gradient(45deg, #1a1a2e, #16213e, #0f3460, #53354a);
}

.watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20vw; /* Ajuste conforme necessário */
    color: rgba(255, 255, 255, 0.1); /* Transparente */
    z-index: 1;
    white-space: nowrap;
    pointer-events: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background: #0f3460;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
}

.login-box h1 {
    margin-bottom: 30px;
    color: #fff;
}

.textbox {
    position: relative;
    margin-bottom: 30px;
}

.textbox i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.textbox input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    background: #1a1a2e;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
}

.forgot-password {
    display: block;
    margin-bottom: 30px;
    color: #a3a3a3;
    text-decoration: none;
}

.btn {
    width: 100%;
    background: #3282b8;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

.btn:hover {
    background: #295786;
}

.textbox .fa-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
}